@import "tailwindcss";

/* breakpoint */
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;
}

/* color */
@theme {
  --color-rose-*: initial;
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);

  --color-stone-*: initial;
  --color-stone-900: hsl(24, 5%, 18%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-100: hsl(30, 54%, 90%);

  --color-brown-*: initial;
  --color-brown-800: hsl(14, 45%, 36%);

  --color-white: hsl(0, 0%, 100%);
}

/* spacing */
@theme {
  --spacing-*: initial;
  --spacing-0: 0rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-1600: 8rem;
}

@utility typo-1 {
  font-family: var(--font-young-serif);
  font-weight: var(--font-weight-regular);
  font-size: clamp(2.25rem, 2.011rem + 1.02vw, 2.5rem);
  line-height: 100%;
  letter-spacing: 0px;
}

@utility typo-2 {
  font-family: var(--font-young-serif);
  font-weight: var(--font-weight-regular);
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility typo-3 {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-semibold);
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility typo-4 {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

@utility typo-5 {
  font-family: var(--font-outfit);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

body {
  @apply bg-stone-100 text-stone-600;
  font-family: var(--font-young-serif), var(--font-outfit), Arial, Helvetica, sans-serif;
}
